:root {
  --primary-color: #ede3f6;
  --secondary-color: #fbf8fd;
  --pop-color: #5c237d;
  --text-color: #202020;
  --font-family-head: "Inter", sans-serif;
  --font-family-body: "Nokora", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: var(--font-family-body);
  font-size: 60px;
  color: var(--text-color);
  margin-bottom: 1rem;
}
h2 {
  font-family: var(--font-family-head);
  font-size: 40px;
  color: var(--text-color);
  text-align: center;
  margin: 20px auto 50px auto;
}
h3 {
  font-family: var(--font-family-head);
  font-size: 30px;
  color: var(--pop-color);
  text-align: center;
  margin: 15px auto 15px auto;
}
p {
  font-family: var(--font-family-body);
  font-size: 16px;
  color: var(--text-color);
  text-align: center;
  margin: 10px auto 10px auto;
}
body {
  background-color: var(--primary-color);
  background-image: url("/img/Rectangle3.svg");
  background-repeat: no-repeat;
  background-position: center 180px; /* horizontal center, 200px from top */
  background-size: 100% auto; /* scales width to 80% of viewport, maintains aspect ratio */
  overflow-x: hidden;
}
.bg-color {
  background-color: #e3d7e8;
}
.container {
  margin: 20px auto;
  padding-bottom: 100px;
}
.great-container {
  margin: 0 auto 0 auto;
  max-width: 1200px;
}
.greeting-content {
  margin: 260px 0 450px 0;
  padding: 0 40px;
}
.my-name {
  color: var(--pop-color);
}
.under-heading {
  font-size: 14px;
  font-weight: 450;
}
footer {
  margin: 0 auto;

  text-align: center;
  font-family: var(--font-family-body);
  font-size: 14px;
  color: var(--pop-color);
  background-color: var(--primary-color);
  padding: 40px 0 40px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 24px !important;
    color: violet !important;
  }
  h2 {
    font-size: 20px;
    color: violet;
  }
}
