:root {
  --primary-color: #ede3f6;
  --secondary-color: #fbf8fd;
  --pop-color: #5c237d;
  --text-color: #202020;
  --font-family-head: "Inter", sans-serif;
  --font-family-body: "Nokora", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: var(--font-family-body);
  font-size: 60px;
  color: var(--text-color);
  margin-bottom: 16px;
}
h2 {
  font-family: var(--font-family-head);
  font-size: 50px;
  color: var(--text-color);
  text-align: center;
  margin: 20px auto 60px auto;
}
h3 {
  font-family: var(--font-family-head);
  font-size: 30px;
  color: var(--pop-color);
  text-align: center;
  margin: 15px auto 15px auto;
}
p {
  font-family: var(--font-family-body);
  font-size: 16px;
  color: var(--text-color);
  text-align: center;
  margin: 10px auto 10px auto;
}
body {
  background-color: var(--primary-color);
  background-image: url("/img/Rectangle3.svg");
  background-repeat: no-repeat;
  background-position: center 180px; /* horizontal center, 200px from top */
  background-size: 100% auto; /* scales width to 80% of viewport, maintains aspect ratio */
  overflow-x: hidden;
}
.btn {
  background-color: var(--pop-color);
  color: var(--primary-color);
  padding: 15px 15px;
  display: block;
  margin: 50px auto;
  box-shadow: 3px 3px 14px 5px rgba(84, 48, 80, 0.438);
}
.btn:hover {
  background-color: var(--primary-color);
  color: var(--pop-color);
  font-weight: 600;

}
.img-fluid {
  border-radius: 5px;
}
.bg-color {
  background-color: #e3d7e8;
}
.container {
  margin: 20px auto;
  padding-bottom: 100px;
}
.great-container {
  margin: 0 auto 0 auto;
  max-width: 1200px;
}
.greeting-content {
  margin: 260px 0 400px 0;
  padding: 0 40px;
}
.my-name {
  color: var(--pop-color);
}
.under-heading {
  font-size: 14px;
  font-weight: 450;
}
.page-block {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
footer {
  margin: 0 auto;
  text-align: center;
  font-family: var(--font-family-body);
  font-size: 14px;
  color: var(--pop-color);
  background-color: var(--primary-color);
  padding: 40px 0 40px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 18px;
    font-weight: 600;
  }

  body {
    background-color: var(--primary-color);
    background-image: url("/img/Rectangle15_long.svg");
    background-repeat: no-repeat;
    background-position: center 180px; /* horizontal center, 200px from top */
    background-size: 100% auto; /* scales width to 80% of viewport, maintains aspect ratio */
    overflow-x: hidden;
  }
  .greeting-content {
    margin: 260px 0 250px 0;
    padding: 0 40px;
  }
  .col {
    margin-bottom: 30px;
  }
}
@media (max-width: 992px) {
  .page-block {
    max-width: 500px;
    margin: 0 auto;
  }
}
