:root {
  --primary-color: #ede3f6;
  --secondary-color: #fbf8fd;
  --pop-color: #5c237d;
  --text-color: #202020;
  --font-family-head: "Inter", sans-serif;
  --font-family-body: "Nokora", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--primary-color);
  overflow-x: hidden;
}

h2 {
  font-family: var(--font-family-head);
  font-size: 40px;
  color: var(--text-color);
  text-align: center;
  margin: 120px auto 50px auto;
}
h3 {
  font-family: var(--font-family-head);
  font-size: 30px;
  color: var(--pop-color);
  text-align: center;
  margin: 15px auto 15px auto;
}
p {
  font-family: var(--font-family-body);
  font-size: 16px;
  color: var(--text-color);
  text-align: left;
  margin: 10px auto 10px auto;
}
footer {
  margin: 60px auto 0 auto;

  text-align: center;
  font-family: var(--font-family-body);
  font-size: 14px;
  color: var(--pop-color);
  background-color: var(--primary-color);
  padding: 40px 0 40px;
}
.bg-color {
  background-color: #e3d7e8;
}
.about-me-blocks {
  max-width: 1100px;
  display: block;
  margin: 0 auto;
}
.contact {
  min-height: 300px;
}
.forecast-hover {
  display: none;
}
.forecast-hover:hover {
  display: block;
}
.great-container {
  margin: 0 auto 0 auto;
  max-width: 1200px;
}
.greeting-content {
  margin: 260px 0 300px 0;
  padding: 0 40px;
}
.my-name {
  color: var(--pop-color);
}
.profile {
  background-color: var(--primary-color);
  border-radius: 7px;
}
.under-heading {
  font-size: 14px;
  font-weight: 450;
}

.project-card {
  position: relative;
  overflow: hidden;
}

.project-card img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.project-card:hover img {
  transform: scale(1.02);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* dark overlay */
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.project-card:hover .overlay {
  opacity: 1;
}

.overlay-text {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: left;
  padding: 1rem;
  max-width: 700px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 34px;
  }
  img {
    margin-top: 30px;
  }
  .greeting-content {
    margin: 100px 0 80px 0;
    padding: 0 20px;
  }
  .contact {
    min-height: 170px;
  }
}
